@import "./header.css";


    .inner-div {
        background: $blue;
        display: flex;

        &__div{
            background: red;
        }
        div{

            background-image: url(./../img/settings.svg);
        }
    }
